/* Basic Styles */
:root {
  --header-bg: #f5f5f5;
  --background: #f0f0f0;
  --text: #333333;
  --button-bg: #008cba;
  --button-text: #ffffff;
  --modal-bg: #fefefe; 
  --modal-text: #333333;
  --background-image-url: url('img/sneakersfon.jpg');
  --button-background: url('img/fon.png');
  --button-background-size: cover; 
  --button-background-position: center;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --main-circle-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --gradient: linear-gradient(to bottom, #323272, #4444c3, #a8a8dc, #5151cd);
}

[data-theme="dark"] {
  --header-bg: #333333;
  --background: #121212;
  --text: rgba(202, 198, 191, 0.87);
  --button-bg: #444444;
  --button-text: #f5f5f5;
  --modal-bg: #333333; 
  --modal-text: rgba(202, 198, 191, 0.87);
  --box-shadow: 0 4px 8px rgba(15, 233, 171, 0.6);
}

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.5s ease, color 0.5s ease;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 1000;
}

.spinner img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  animation: rotate infinite 2s linear;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}
    
  /* Book Card Styles */
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;   
    padding: 5px;
  }
  
  .shelf-element {     
    width: 100%;
    max-width: 340px;
    /* box-shadow: var(--box-shadow); */
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 5px;
  }    

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .img-container .art-icon {
    position: absolute;
    top: 1px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: azure;
  }
  
  .book-size-color {
    position: absolute;
    top: 40px;
    right: 10px;
    color: black;
    background-color: azure;
    border-radius: 7px;
    padding: 1px 7px;
    opacity: 0.8;
    display: none;
  }

  .book-size-color.visible {
    display: block;
  }

  .book-size-color p {
    text-align: left;
    margin: 5px;
  }

  .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .img-container img {
    height: 320px;
    object-fit: cover;    
    width: 300px;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .book-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .book-price {
    text-align: center;
    margin: 5px;
    color: #007bff;
    font-size: 1.1em;
  }

  .sale-price {
    font-weight: bold;
    margin-right: 8px;
    text-shadow: 0 0 5px #21ce6da8;
    animation: colorChange 2s infinite alternate; 
  }
  
  @keyframes colorChange {
    0% {
      color: aqua;
    }
    100% {
      color: green;
    }
  }
  
  
  .original-price {
    text-decoration: line-through;
    color: gray;
  }  
  
  /* Filter styles */
  .filters {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* box-shadow: var(--box-shadow); */
    border-radius: 15px;
    background-color: var(--background);
    /* display: flex; */
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sort-button {
    padding: 10px;
    cursor: pointer;
    border: none;    
    background-color: var(--background);
    color: var(--text);
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s; 
    margin: 5px;
    position: relative; 
    overflow: hidden; 
  }

  .sort-button.selected {
    border: 2px solid var(--text);
    border-radius: 15px;
    padding: 8px;
    box-shadow: var(--box-shadow);
  }
  

  /* Icons: regular theme */
.social-icon {
  filter: none; /* No inversion for light theme */
}

/* Icons: dark theme */
[data-theme="dark"] .social-icon {
  filter: invert(1);
}

  
  .sort-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; 
    width: 300%; 
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); 
    opacity: 0;
    transform: skewX(-45deg);
    transition: none;
  }
  
  .sort-button:hover {
    color: var(--button-bg); 
  } 
  
  /* Adaptability */
  @media (max-width: 400px) {
    .shelf-element {
      max-width: 100%;
    }
  }

  
  /* Modal Window Styles */
  .modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);    
  }
  
  .modal-content { 
    background-color: var(--modal-bg);
    color: var(--modal-text);   
    padding: 20px;    
    width: 80%;
    max-width: 700px;
    margin: 10px 1px 5% auto;
    border-radius: 15px;
  }

  .modal-content-center{
    background-color: var(--modal-bg);
    color: var(--modal-text); 
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 15px;
    width: 360px;     
  }

  .text-align-block{
    text-align: start;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .view-reviews-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
    display: none;
  }
  .view-reviews-btn:hover {
    background-color: #0056b3;
  }
  
  
  /* "More details" button */
  .show-more-btn {
    background-color: #1b7b28;
    background-image: var(--button-background);
    background-size: var(--button-background-size);
    background-position: var(--button-background-position);
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;    
    font-size: 16px;
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease; 
  }

  .show-more-btn:hover {
    color: white; 
  }
  
  .show-more-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; 
    width: 300%; 
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); 
    opacity: 0; 
    transform: skewX(-45deg); 
    transition: none;
  }  
  
  .modal-content #book-modal-img {
    height: 320px;
    object-fit: cover;
    width: 300px;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
  }
  
  .image-option {
    max-width: 100px; 
    max-height: 100px;
    height: 70px;
    margin: 5px;
    cursor: pointer;    
    border-radius: 4px;
    transition: transform 0.2s;
  } 
  
  .image-option:hover {
    transform: scale(1.1);
  }

  /* Basic Image Gallery Style */
  .image-gallery {
    display: flex;    
    gap: 5px;
    margin-top: 10px;
    overflow-x: auto;
    max-width: 80%;
    scrollbar-width: none;
    scroll-behavior: unset;
  }

  
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

  ::-webkit-scrollbar-thumb {
    animation: scrollbar-glow 1s infinite alternate;
  }
  
  @keyframes scrollbar-glow {
    0% {
      background: #888;
    }
    100% {
      background: #fff;
    }
  }

  /* Style for the background and fullscreen container */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Style for full screen image */
.fullscreen-image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
}

/* Style for the close full screen button */
.close-fullscreen {
  position: absolute;
  top: 30px;
  right: 20px;   
  cursor: pointer;
}

/* Style for the full screen button */
.fullscreen-icon { 
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8); 
}

.fullscreen-icon:hover {  
    border: none;   
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 3px 5px rgba(0, 0, 10, 0.8);
}

.book-id {
  font-weight: bold;  
}

.id-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px 15px;
}

p#book-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.rating-stars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.star {
  font-size: 20px;
  color: #ccc; 
}

.star.filled {
  color: #ffd700; 
}

.star.half-filled {
  color: #ffd700; 
}

.review-count {
  font-size: 16px;
  margin-left: 5px;  
}

.review-count::before {
  content: "💬";
  margin-right: 5px;
}

.filters {
  display: none; 
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

#theme-toggle .icon-sun,
#theme-toggle .icon-moon {
  position: absolute;
  transition: transform 0.5s ease;
}

#theme-toggle .icon-sun {
  transform: rotate(0deg) scale(1);
}

#theme-toggle .icon-moon {
  transform: rotate(180deg) scale(0);
}

[data-theme="dark"] #theme-toggle .icon-sun {
  transform: rotate(-180deg) scale(0);
}

[data-theme="dark"] #theme-toggle .icon-moon {
  transform: rotate(0deg) scale(1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: var(--header-bg);
  border-radius: 50px;
  margin-bottom: 7px;
  animation: bgToVideo 3s forwards 300s; 
}

.logo {
  height: 50px;  
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}


.social-icons-header {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 30px;
  background-color: #2b8a82;
}

/* Styling for each video frame */
.video-frame {
  position: absolute;  
  overflow: hidden;
}

/* Radial positioning and adjusted clip-paths to fill all space */
#video-frame-1 {  
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
}

#video-frame-2 {
  top: 0;
  right: 0;
  clip-path: polygon(100% 0%, 100% 100%, 50% 50%);
}

#video-frame-3 {  
  clip-path: polygon(100% 100%, 0% 100%, 50% 50%);
  width: 100%;
}

#video-frame-4 {  
  left: 0;
  clip-path: polygon(0% 100%, 0% 0%, 50% 50%);
  width: 100%;
}

video {
  width: 100%;  
  filter: blur(2px) brightness(80%);
}


@media (max-width: 1200px) {
  .video-frame {
    position: relative;    
    overflow: hidden;
    height: 25vh;

    width: 100vw;
  }
  video {    
    filter: blur(1px) brightness(90%);
  }
  #video-frame-1 {    
    clip-path:none;
  }
  
  #video-frame-2 {    
    clip-path: none;
  }
  
  #video-frame-3 {    
    clip-path: none;    
  }
  
  #video-frame-4 {   
    clip-path: none;    
  }
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;  
}

.social-icon {
  font-size: 0.9em;
  color: #333;
  text-decoration: none;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease; 
}

.close-fullscreen-icon {  
  width: 30px;
  height: 30px;  
  filter: invert(1);
}

.social-icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.social-icon img:hover {
  color: #ff6600; 
  box-shadow: var(--box-shadow); 
  transform: scale(1.1); 
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

/* "See More" button */
.see-more-button {
  position: absolute;
  bottom: 150px;
  right: 20px;
  padding: 10px 20px;
  background-color: #d46300;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  opacity: 0;
  transform: translateY(100%);
  animation: slideInBottom 1s ease forwards 0.5s; /* 0.5s delay for synchronization */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #e89d20;
  transform: scale(1.1);
}


@keyframes slideInBottom {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* Floating button */
.floating-button {
  position: fixed;  
  /* top:290px; */
  top:310px;
  right: 20px;
  background-color: #0b8a259c;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: none; 
  z-index: 200;
}

.floating-button:hover {
  background: linear-gradient(45deg, #32CD32, #228B22); /* Green gradient effect */
  color: white;
  transition: background 0.3s ease;
}

.floating-button.show {
  display: block; /* Show when required */
}

.header-content {
  transition: opacity 0.3s ease;
}

.header-content.hidden {
  opacity: 0;
  visibility: hidden;
}

#see-more-btn {
  cursor: pointer;
}

#loading-spinner {
  display: none; 
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 5px;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-section,
.contact-section {
  flex: 1;
  min-width: 250px;
  padding-bottom: 10px;
}

.about-section h3,
.contact-section h3 { 
  margin-bottom: 10px;
}

.contact-toggle {
  background-color: #444;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 7px;
}

.contact-form-section {
  margin-top: 40px;
  flex-direction: column;
  display: flex;
}

.contact-form-section form {
  display: flex;
  flex-direction: column;
}

.contact-form-section label,
.contact-form-section input,
.contact-form-section textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;  
  max-width: 340px;
}

.contact-form-section button {
  background-color: #5cb85c;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact-form-section button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .social-icons {
      justify-content: center;
  }
}

/* Logo Section */
.logo-section {
  text-align: center;
  flex: 1;
  min-width: 250px;
  padding-bottom: 10px;
}

.footer-logo {
  width: 70px; 
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  cursor: pointer;
  translate: 0 -10px;
  transition: transform 0.3s ease-in-out;
}

.footer-logo:hover { 
  transform: rotate(30deg); 
  animation: rotateBack 0.6s ease-in-out forwards; 
} 
@keyframes rotateBack { 
  0% { 
    transform: rotate(30deg); 
  } 
  50% { 
    transform: rotate(-30deg); 
  } 
  100% {
     transform: rotate(0deg); 
    } 
  }

.footer-link {
  color: #00aaff;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Contact Info Styling - Placed Under Social Icons */
.contact-info {
  margin-top: 10px;
  font-size: 14px;
}

.contact-info p {
  margin: 5px;
  text-align: left;
}

.contact-info a {
  color: #2ae0a4; 
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-icons-footer{
  margin-top: 10px;
}

/* Scroll */
#scroll-to-top-btn {
  position: fixed;  
  bottom: 150px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #333 ;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

#scroll-to-top-btn:hover {
  background-color: rgba(77, 96, 54, 0.36);
  color:rgba(202, 198, 191, 0.87);
}

/* Outer circle showing the scroll progress */
.scroll-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#4caf50 0%, #ddd 0%);
  transition: background 0.3s ease;
  z-index: 200;
}

/* Inner circle containing the arrow */
.scroll-arrow {
  position: relative;
  z-index: 201;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  background-color:rgba(202, 198, 191, 0.87);
}

/* Catalog */
.catalog-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.catalog-button:hover {
  background-color: #0056b3;
}

.modal-content-section {
  background-color: var(--modal-bg);
  margin: 170px auto auto 5px;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 80%;
  max-width: 400px;
  border-radius: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}


#catalog-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none; 
  justify-content: flex-start; 
  align-items: flex-start;
  z-index: 1000;
}

#current-filter {  
  text-decoration: underline;
  cursor: pointer;
  padding: 5px 30px; 
  text-align: left;
  font-size: 1.4em;
}

#current-filter:hover {
  color: #00aaff; 
}

.section-item {
  flex-direction: column;
  display: flex;
}

.section-togle { 
  display: flex;  
  width: 100%;
  justify-content: space-between;
}

.toggle {
  padding: 1px 20px;
  font-size: 18px;
}

.section-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-list,
.partition-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-list li,
.partition-list li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-list li.active,
.partition-list li.active {
  font-weight: bold;
  color: aqua;
  border-radius: 7px;
  background-color: transparent; 
  background-image: var(--button-background); 
  background-size: var(--button-background-size); 
  background-position: var(--button-background-position);
  position: relative; 
  overflow: hidden; 
}

.section-list li.active::before,
.partition-list li.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 200%; 
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  opacity: 0;
  transform: skewX(-45deg);
  transition: opacity 0.3s ease; 
}


.section-list li.active:hover::before,
.partition-list li.active:hover::before {
  opacity: 1; 
  animation: shine 0.6s ease forwards; 
}



@keyframes shine {
  0% {
    left: -100%; 
  }
  100% {
    left: 100%; 
  }
}

.partition-container { 
    width: 80%;
    padding: 5px;    
}

.partition-container li {
  padding: 8px 10px;
}

#catalog-modal::-webkit-scrollbar {
  width: 8px;
}

#catalog-modal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#catalog-modal::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.toggle-icon {
  transform: rotate(180deg); 
}

/* Add the filter: invert(1) when the parent <li> has the 'active' class */
.section-item.active .toggle-icon {
  filter: invert(1);
}

.toggle-icon.rotated {
  transform: rotate(360deg); /* Rotated state for expanded sections */
}

.scroll-indicator {
  position: fixed;
  top: 50%;
  left: 320px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scroll-indicator span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0.7;
}

.scroll-indicator span.active {
  background-color: #007bff;
  opacity: 1;
}

/* search */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  /* padding: 10px; */
  width: auto;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 170px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #d4d4d4;  
  background-color: var(--background);
  color: var(--text);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.search-placeholder {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);  
  transition: all 0.3s ease;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
}

.search-input.active + .search-placeholder,
.search-input:focus + .search-placeholder {
  top: 0;
  left: 15px;
  background-color: #ffffff;  
  padding: 0 5px;
  color: black;
  font-size: 12px;
  border-radius: 20px;
  background-color: var(--background);
  color: var(--text);
}

.search-input:focus {
  outline: none;
  border-color: var(--text);
  box-shadow: var(--box-shadow);
}

.clear-search-btn {  
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: none;  
  display: none;
  z-index: 1;
  right: 30px;
  position: relative;  
  background: var(--background);
}

.clear-search-btn:hover {  
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}


/* General lending styles */
.main-header {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background: #fdf7f2;
  color: #333;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 100vh;
  min-height: 400px;  
}

.header-lending { 
  display: flex;  
  z-index: 100;
  opacity: 0.9;
  transform: translateX(-100%);
  background: #2e403b85;
  border-radius: 70px 300px 300px 70px;
  animation: slideIn 1s ease forwards;
}

 /* Slide-In Animation */
@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  max-width: 200px;
  height: 400px;
  justify-content: space-between;  
}

.position {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: aqua;
}

.position:hover {
  transform: scale(1.05);
  border-radius: 70px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.position.active {
  transform: scale(1.05);
  color: #ff7a00;
  font-weight: bold; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.position-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.position-circle img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.position p {
  text-align: left;
}

.block-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 20px;
  max-width: 400px;  
}

.outer-circle {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: inset 1px 5px 50px rgba(68, 114, 79, 0.79);
  opacity: 0.9;
  background: #e3cbcbd4;
}


.main-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  box-shadow: var(--main-circle-shadow);  
}

.main-circle.shadow-down {
  --main-circle-shadow: 0 15px 15px rgba(255, 122, 0, 0.6);
}

.main-circle.shadow-right {
  --main-circle-shadow: 15px 0 15px rgba(255, 122, 0, 0.6);
}

.main-circle.shadow-up {
  --main-circle-shadow: 0 -15px 15px rgba(255, 122, 0, 0.6);
}

.main-circle img { 
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.description-container {
  max-width: 400px;
}

.description-container h1 {
  font-size: 36px;
  color: #14532d; 
  margin: 0 0 10px 0;
  font-weight: bold;
}

.description-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #4a4a4a;
}

.description-container .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7a00;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.description-container .btn:hover {
  background-color: #ff9933;
}

.indicator-line {
  position: absolute;
  width: 2px;
  height: 100px;
  background: #ff7a00;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  z-index: -1;
}

.indicators {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.indicator {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d4af37; 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.indicator:nth-child(1) {
  top: 0; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator:nth-child(2) {
  top: 50%; 
  left: 0;
  transform: translate(-50%, -50%);
}

.indicator:nth-child(3) {
  bottom: -6px; 
  left: 50%;
  transform: translate(-50%, 50%);
}

.indicator.active::before { 
  content: ''; 
  position: absolute; 
  top: -2px; left: -2px; 
  width: calc(100% + 4px); 
  height: calc(100% + 4px); 
  border: 1px inset gold; 
  border-radius: 50%; 
  box-sizing: border-box;  
}

.indicator.active {
  background-color: #ff7a00;   
  transform: scale(1.2) ;
  box-shadow: 0 0 10px rgba(255, 122, 0, 0.8), 0 0 20px rgba(255, 122, 0, 0.5);
}

.description-container {
  position: absolute;
  bottom: 20px;
  right: -20px;
  max-width: 250px;
  padding: 15px;
  background-color: #2b8a8294;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  z-index: 5;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.description-container h1 {
  font-family: 'Cinzel', serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.description-container p {
  font-size: 14px;
  line-height: 1.5;
  color: white;
}

.description-container a.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ff7a00;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.description-container a.btn:hover {
  background-color: #d46300;
}


/* Responsive for screens less than 700px wide */
@media (max-width: 700px) {
  .header-lending {
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 50px;
  }

  .outer-circle {
    width: 300px;
    height: 300px;
    box-shadow: 0 8px 20px rgb(28, 187, 27, 0.8);
    animation: shadowChange 3s infinite;
  }
  
  @keyframes shadowChange {
    0% {
      box-shadow: 0 8px 20px rgb(28, 187, 27, 0.8);
    }
    50% {
      box-shadow: 0 8px 20px rgb(255, 215, 0, 0.8);
    }
    100% {
      box-shadow: 0 8px 20px rgb(28, 187, 27, 0.8);
    }
  }
  

  .description-container {
      position: relative;
      bottom: 40px;
      right: auto;
      max-width: 100%; 
      padding: 10px;
      margin: 5px;
  }

  .indicators {          
      display: none;
  }

  .see-more-button{
    bottom: 300px;
    right: 20px;
    /* position: fixed; */
    z-index: 100;
  }

  .indicator {
    display: none;
  }  
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: none;
  flex-wrap: wrap;
  margin: 5px;
}

.page-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;  
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px; 
  border-radius: 7px; 
}

.page-btn:hover {
  background-color:var(--gradient);  
  color: var(--modal-text);
}

.page-btn.active {
  color: #fff;  
  font-weight: bold;
  background-color: #1b7b28;
  background-image: var(--button-background);
  background-size: var(--button-background-size);
  box-shadow: var(--box-shadow);
}

.show-all-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;  
}

.show-all-btn:hover {
  background-color:var(--gradient);  
  color: var(--modal-text);
}

#no-results-message {
  justify-content: center;
  align-items: center;
  height: 10vh;
  display: none;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}


.shine-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 300%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  opacity: 0;
  transform: skewX(-45deg);
  transition: none;
}

.shine-effect:hover::before {
  opacity: 1;
  animation: shine 0.6s ease forwards;
}

.hidden {
  display: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sort-buttons {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

#reviews-container {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 20vh;
  overflow-y: auto;
  border: 2px solid;
  border-radius: 17px;
  padding: 10px;
}

.review {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.review-rating {
  margin: 5px 0;
}

.review-text {
  margin: 5px 0;
  font-size: 14px;
}

.star {
  color: #ccc;
}

.star.filled {
  color: gold;
}

/* Sticky Navigation Menu */
#Main\ Info {
  padding-top: 50px;
}

.modal-menu {
  position: sticky;
  top: 0;
  background-color: var(--modal-bg);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 10px 0 5px;
  color: var(--text);  
}


.menu-item {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  color: var(--text);
}

.menu-item:hover {
  color: #007bff;
}

.menu-item.active {
  text-decoration: underline;
  animation: removeUnderline 3s forwards;
}

@keyframes removeUnderline {
  0% {
    text-decoration: underline;
  }
  100% {
    text-decoration: none;
  }
}

/* Hidden Reviews Section */
.hidden {
  display: none;
}


#book-over-tags {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  flex-direction: column; 
}

@media (min-width: 600px) { 
  #book-over-tags {
    flex-direction: row; 
    justify-content: space-between; 
  }
}


#scroll-range {
  display: none; 
  width: 80%;
  margin: 15px 0;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

#scroll-range::-webkit-slider-thumb,
#scroll-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgba(202, 198, 191, 0.87);
  border-radius: 50%;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


/* Filter modal */
.filter-checkbox { 
  accent-color: var(--modal-text);
}

.filter-actions {
  display: flex;
}

.partition-item label:hover{
  cursor: pointer;
  color: #00aaff;
}  

.filter-content-section{
background-color: var(--modal-bg);
  margin: 170px 5px auto auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 15px;
}

.basic-button{
  border: 2px solid;
  border-radius: 17px;
  background-color: var(--button-background);
  color: var(--text);
  padding: 5px 15px;
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.basic-button:hover{
  border: none;
  box-shadow: none;
  font-weight: bold;
  cursor: pointer;
}

/* Catalog filter button container */
.catalog-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 100%; */
}

/* Media query for screens larger than 500px */
@media (min-width: 540px) {
  .catalog-filter {
    flex-direction: row;
  }

  .search-container {
    order: 1; /* Move search container between catalog and filter buttons */
  }

  .catalog-filter > #catalog-button {
    order: 0; /* Ensure catalog button is first */
  }

  .catalog-filter > #filters-button {
    order: 2; /* Ensure filters button is last */
  }
}

/* Media query for screens 500px or smaller */
@media (max-width: 500px) {  

  .search-container {
    order: 2; 
  }

  .catalog-filter > #catalog-button,
  .catalog-filter > #filters-button {
    order: 1; 
  }
}

.error-message { 
  display: none; background-color: #f8d7da; color: #721c24; padding: 15px; margin: 15px; border: 1px solid #f5c6cb; border-radius: 5px; text-align: center; 
}